##Instalando dependencias

In [1]:
 !pip install 'fsspec>=0.3.3'

Requirement already satisfied: fsspec>=0.3.3 in /usr/local/lib/python3.7/dist-packages (2022.1.0)

##Imports

In [2]:
import dask.dataframe as dd
import plotly.express as px
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import cross_validate, GridSearchCV, cross_val_predict
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import LabelEncoder 
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.ensemble import RandomForestRegressor
import xgboost as xgb

In [3]:
from google.colab import drive

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
!ls "/content/drive/My Drive"

'Colab Notebooks'	 Obra					  'Voluta '
 Curriculo		'trabalho dicertativo de marketing.docx'   Wizard
 ImersaoDev_Alura	'Trem do estagio.gdoc'
'Iniciação Científica'	 UFOP

##Verificando dataset

In [5]:
df = dd.read_csv('/content/drive/MyDrive/Colab Notebooks/IC/eccomerce/database/dataframes/olist_geoleocated_time_prediction.csv')

In [6]:
df = df.compute()

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112660 entries, 0 to 112659
Data columns (total 44 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       112660 non-null  int64
 1   order_item_id                  112660 non-null  float64
 2   product_id                     112660 non-null  int64
 3   seller_id                      112660 non-null  int64
 4   shipping_limit_date            112660 non-null  object
 5   price                          112660 non-null  float64
 6   freight_value                  112660 non-null  float64
 7   payment_sequential             112660 non-null  float64
 8   payment_type                   112660 non-null  int64
 9   payment_installments           112660 non-null  float64
 10  payment_value                  112660 non-null  float64
 11  review_id                      112660 non-null  int64
 12  review_score                   112660 non-null  float64
 13  review_comment_title           112660 non-null  int64
 14  review_comment_message         112660 non-null  int64
 15  review_creation_date           112660 non-null  object
 16  review_answer_timestamp        112660 non-null  object
 17  customer_id                    112660 non-null  int64
 18  order_status                   112660 non-null  int64
 19  order_purchase_timestamp       112660 non-null  object
 20  order_approved_at              112660 non-null  object
 21  order_delivered_carrier_date   112660 non-null  object
 22  order_delivered_customer_date  112660 non-null  object
 23  order_estimated_delivery_date  112660 non-null  object
 24  customer_unique_id             112660 non-null  int64
 25  customer_zip_code_prefix       112660 non-null  int64
 26  customer_city                  112660 non-null  int64
 27  customer_state                 112660 non-null  int64
 28  seller_zip_code_prefix         112660 non-null  float64
 29  seller_city                    112660 non-null  int64
 30  seller_state                   112660 non-null  int64
 31  product_category_name          112660 non-null  int64
 32  product_name_lenght            112660 non-null  float64
 33  product_description_lenght     112660 non-null  float64
 34  product_photos_qty             112660 non-null  float64
 35  product_weight_g               112660 non-null  float64
 36  product_length_cm              112660 non-null  float64
 37  product_height_cm              112660 non-null  float64
 38  product_width_cm               112660 non-null  float64
 39  costumer_lat                   112660 non-null  float64
 40  costumer_lng                   112660 non-null  float64
 41  seller_lat                     112660 non-null  float64
 42  seller_lng                     112660 non-null  float64
 43  days_to_delivery               111237 non-null  float64
dtypes: float64(20), int64(16), object(8)
memory usage: 37.8+ MB

In [8]:
df.head(10)

   order_id  order_item_id  ...  seller_lng  days_to_delivery
0         0            1.0  ...  -44.127324               6.0
1      7014            1.0  ...  -44.127324               6.0
2     30559            1.0  ...  -44.127324               5.0
3     40954            1.0  ...  -44.127324               1.0
4     45875            1.0  ...  -44.127324               1.0
5     58794            1.0  ...  -44.127324               5.0
6     69027            1.0  ...  -44.127324               0.0
7     74190            2.0  ...  -44.127324               2.0
8     74190            1.0  ...  -44.127324               2.0
9     82148            1.0  ...  -44.127324               2.0

[10 rows x 44 columns]

##Calculando tempo de atraso

In [9]:
#transformando em datas pelo pandas
for col in df[['review_creation_date','order_approved_at','order_delivered_carrier_date','order_estimated_delivery_date','shipping_limit_date','review_answer_timestamp','order_purchase_timestamp','order_approved_at','order_delivered_carrier_date','order_delivered_customer_date']]:
    df[col] = pd.to_datetime(df[col])

*   Calculando o tempo, em dias, que a entrega foi feita antes da data estimada

*   Para realizar o calculo será feito a subtração do dia estimado para entrega menos o dia em que o pedido foi pedido foi entregue(order_estimated_delivery_date - order_delivered_carrier_date)

In [10]:
#funcao que calcula o tempo de adiantamento da entrega 
def early_delivery(data):
    # verifica se a entrega foi no mesmo mes 
    if data['order_estimated_delivery_date'].month == data['order_delivered_carrier_date'].month:
        if data['order_estimated_delivery_date'].day < data['order_delivered_carrier_date'].day:
            return 0 #se o dia da entrega é depois do dia estimado, nao teve adiantamento 
        else:
            return data['order_estimated_delivery_date'].day - data['order_delivered_carrier_date'].day
    
    # se ocorreu em meses diferentes, calcula-se os dias para cada mes e depois soma
    elif data['order_estimated_delivery_date'].month != data['order_delivered_carrier_date'].month:
          if data['order_estimated_delivery_date'].month < data['order_delivered_carrier_date'].month:
            return 0
          else:
            return (pd.Period(data['order_delivered_carrier_date'], freq='D').days_in_month - data['order_delivered_carrier_date'].day) + data['order_estimated_delivery_date'].day

    
df['early_delivery'] = df.apply(early_delivery, axis=1)

In [11]:
df.head(10)

   order_id  order_item_id  ...  days_to_delivery  early_delivery
0         0            1.0  ...               6.0              10
1      7014            1.0  ...               6.0              21
2     30559            1.0  ...               5.0              15
3     40954            1.0  ...               1.0              23
4     45875            1.0  ...               1.0              21
5     58794            1.0  ...               5.0              22
6     69027            1.0  ...               0.0              23
7     74190            2.0  ...               2.0              27
8     74190            1.0  ...               2.0              27
9     82148            1.0  ...               2.0              29

[10 rows x 45 columns]

##Separando datas em novas colunas

In [12]:
#separando dia
def day_shipping(data):
    return data['shipping_limit_date'].day

df["day_shipping"] = df.apply(day_shipping, axis = 1)

#separando mes
def month_shipping(data):
    return data['shipping_limit_date'].month

df["month_shipping"] = df.apply(month_shipping, axis = 1)

#separando ano
def year_shipping(data):
    return data['shipping_limit_date'].year

df["year_shipping"] = df.apply(year_shipping, axis = 1)

In [13]:
#separando dia
def day_review_creation(data):
    return data['review_creation_date'].day

df["day_review_creation"] = df.apply(day_review_creation, axis = 1)

#separando mes
def month_review_creation(data):
    return data['review_creation_date'].month

df["month_review_creation"] = df.apply(month_review_creation, axis = 1)

#separando ano
def year_review_creation(data):
    return data['review_creation_date'].year

df["year_review_creation"] = df.apply(year_review_creation, axis = 1)

In [14]:
#separando dia
def day_review_answer(data):
    return data['review_answer_timestamp'].day

df["day_review_answer"] = df.apply(day_review_answer, axis = 1)

#separando mes
def month_review_answer(data):
    return data['review_answer_timestamp'].month

df["month_review_answer"] = df.apply(month_review_answer, axis = 1)

#separando ano
def year_review_answer(data):
    return data['review_answer_timestamp'].year

df["year_review_answer"] = df.apply(year_review_answer, axis = 1)

In [15]:
#separando dia
def day_order_purchase_timestamp(data):
    return data['order_purchase_timestamp'].day

df["day_order_purchase_timestamp"] = df.apply(day_order_purchase_timestamp, axis = 1)

#separando mes
def month_order_purchase_timestamp(data):
    return data['order_purchase_timestamp'].month

df["month_order_purchase_timestamp"] = df.apply(month_order_purchase_timestamp, axis = 1)

#separando ano
def year_order_purchase_timestamp(data):
    return data['order_purchase_timestamp'].year

df["year_order_purchase_timestamp"] = df.apply(year_order_purchase_timestamp, axis = 1)

In [16]:
#separando dia
def day_order_approved(data):
    return data['order_approved_at'].day

df["day_order_approved"] = df.apply(day_order_approved, axis = 1)

#separando mes
def month_order_approved(data):
    return data['order_approved_at'].month

df["month_order_approved"] = df.apply(month_order_approved, axis = 1)

#separando ano
def year_order_approved(data):
    return data['order_approved_at'].year

df["year_order_approved"] = df.apply(year_order_approved, axis = 1)

In [17]:
#separando dia
def day_order_delivered_carrier(data):
    return data['order_delivered_carrier_date'].day

df["day_order_delivered_carrier"] = df.apply(day_order_delivered_carrier, axis = 1)

#separando mes
def month_order_delivered_carrier(data):
    return data['order_delivered_carrier_date'].month

df["month_order_delivered_carrier"] = df.apply(month_order_delivered_carrier, axis = 1)

#separando ano
def year_order_delivered_carrier(data):
    return data['order_delivered_carrier_date'].year

df["year_order_delivered_carrier"] = df.apply(year_order_delivered_carrier, axis = 1)

In [18]:
#separando dia
def day_order_delivered_customer(data):
    return data['order_delivered_customer_date'].day

df["day_order_delivered_customer"] = df.apply(day_order_delivered_customer, axis = 1)

#separando mes
def month_order_delivered_customer(data):
    return data['order_delivered_customer_date'].month

df["month_order_delivered_customer"] = df.apply(month_order_delivered_customer, axis = 1)

#separando ano
def year_order_delivered_customer(data):
    return data['order_delivered_customer_date'].year

df["year_order_delivered_customerr"] = df.apply(year_order_delivered_customer, axis = 1)

In [19]:
#separando dia
def day_estimated_delivery(data):
    return data['order_estimated_delivery_date'].day

df["day_estimated_delivery"] = df.apply(day_estimated_delivery, axis = 1)

#separando mes
def month_estimated_delivery(data):
    return data['order_estimated_delivery_date'].month

df["month_estimated_delivery"] = df.apply(month_estimated_delivery, axis = 1)

#separando ano
def year_estimated_delivery(data):
    return data['order_estimated_delivery_date'].year

df["year_estimated_delivery"] = df.apply(year_estimated_delivery, axis = 1)

In [20]:
df.head(10)

   order_id  order_item_id  ...  month_estimated_delivery  year_estimated_delivery
0         0            1.0  ...                         9                     2017
1      7014            1.0  ...                         7                     2017
2     30559            1.0  ...                         6                     2018
3     40954            1.0  ...                         8                     2017
4     45875            1.0  ...                         9                     2017
5     58794            1.0  ...                         8                     2017
6     69027            1.0  ...                         4                     2018
7     74190            2.0  ...                         9                     2017
8     74190            1.0  ...                         9                     2017
9     82148            1.0  ...                         7                     2017

[10 rows x 69 columns]

##Preparando os dados para testar os modelos

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112660 entries, 0 to 112659
Data columns (total 69 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   order_id                        112660 non-null  int64
 1   order_item_id                   112660 non-null  float64
 2   product_id                      112660 non-null  int64
 3   seller_id                       112660 non-null  int64
 4   shipping_limit_date             112660 non-null  datetime64[ns]
 5   price                           112660 non-null  float64
 6   freight_value                   112660 non-null  float64
 7   payment_sequential              112660 non-null  float64
 8   payment_type                    112660 non-null  int64
 9   payment_installments            112660 non-null  float64
 10  payment_value                   112660 non-null  float64
 11  review_id                       112660 non-null  int64
 12  review_score                    112660 non-null  float64
 13  review_comment_title            112660 non-null  int64
 14  review_comment_message          112660 non-null  int64
 15  review_creation_date            112660 non-null  datetime64[ns]
 16  review_answer_timestamp         112660 non-null  datetime64[ns]
 17  customer_id                     112660 non-null  int64
 18  order_status                    112660 non-null  int64
 19  order_purchase_timestamp        112660 non-null  datetime64[ns]
 20  order_approved_at               112660 non-null  datetime64[ns]
 21  order_delivered_carrier_date    112660 non-null  datetime64[ns]
 22  order_delivered_customer_date   112660 non-null  datetime64[ns]
 23  order_estimated_delivery_date   112660 non-null  datetime64[ns]
 24  customer_unique_id              112660 non-null  int64
 25  customer_zip_code_prefix        112660 non-null  int64
 26  customer_city                   112660 non-null  int64
 27  customer_state                  112660 non-null  int64
 28  seller_zip_code_prefix          112660 non-null  float64
 29  seller_city                     112660 non-null  int64
 30  seller_state                    112660 non-null  int64
 31  product_category_name           112660 non-null  int64
 32  product_name_lenght             112660 non-null  float64
 33  product_description_lenght      112660 non-null  float64
 34  product_photos_qty              112660 non-null  float64
 35  product_weight_g                112660 non-null  float64
 36  product_length_cm               112660 non-null  float64
 37  product_height_cm               112660 non-null  float64
 38  product_width_cm                112660 non-null  float64
 39  costumer_lat                    112660 non-null  float64
 40  costumer_lng                    112660 non-null  float64
 41  seller_lat                      112660 non-null  float64
 42  seller_lng                      112660 non-null  float64
 43  days_to_delivery                111237 non-null  float64
 44  early_delivery                  112660 non-null  int64
 45  day_shipping                    112660 non-null  int64
 46  month_shipping                  112660 non-null  int64
 47  year_shipping                   112660 non-null  int64
 48  day_review_creation             112660 non-null  int64
 49  month_review_creation           112660 non-null  int64
 50  year_review_creation            112660 non-null  int64
 51  day_review_answer               112660 non-null  int64
 52  month_review_answer             112660 non-null  int64
 53  year_review_answer              112660 non-null  int64
 54  day_order_purchase_timestamp    112660 non-null  int64
 55  month_order_purchase_timestamp  112660 non-null  int64
 56  year_order_purchase_timestamp   112660 non-null  int64
 57  day_order_approved              112660 non-null  int64
 58  month_order_approved            112660 non-null  int64
 59  year_order_approved             112660 non-null  int64
 60  day_order_delivered_carrier     112660 non-null  int64
 61  month_order_delivered_carrier   112660 non-null  int64
 62  year_order_delivered_carrier    112660 non-null  int64
 63  day_order_delivered_customer    112660 non-null  int64
 64  month_order_delivered_customer  112660 non-null  int64
 65  year_order_delivered_customerr  112660 non-null  int64
 66  day_estimated_delivery          112660 non-null  int64
 67  month_estimated_delivery        112660 non-null  int64
 68  year_estimated_delivery         112660 non-null  int64
dtypes: datetime64[ns](8), float64(20), int64(41)
memory usage: 59.3 MB

In [22]:
df.isnull().sum()

order_id                          0
order_item_id                     0
product_id                        0
seller_id                         0
shipping_limit_date               0
                                 ..
month_order_delivered_customer    0
year_order_delivered_customerr    0
day_estimated_delivery            0
month_estimated_delivery          0
year_estimated_delivery           0
Length: 69, dtype: int64

In [23]:
#retirando valores nulos ou duplicados
df.dropna(inplace=True)

In [24]:
#excluindo as colunas que estão em formato pandas df, pois já são representadas nas colunas separadas 
df = df.drop(['shipping_limit_date','review_creation_date','review_answer_timestamp','order_purchase_timestamp','order_approved_at','order_delivered_carrier_date','order_delivered_customer_date','order_estimated_delivery_date'], 1)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111237 entries, 0 to 112659
Data columns (total 61 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   order_id                        111237 non-null  int64
 1   order_item_id                   111237 non-null  float64
 2   product_id                      111237 non-null  int64
 3   seller_id                       111237 non-null  int64
 4   price                           111237 non-null  float64
 5   freight_value                   111237 non-null  float64
 6   payment_sequential              111237 non-null  float64
 7   payment_type                    111237 non-null  int64
 8   payment_installments            111237 non-null  float64
 9   payment_value                   111237 non-null  float64
 10  review_id                       111237 non-null  int64
 11  review_score                    111237 non-null  float64
 12  review_comment_title            111237 non-null  int64
 13  review_comment_message          111237 non-null  int64
 14  customer_id                     111237 non-null  int64
 15  order_status                    111237 non-null  int64
 16  customer_unique_id              111237 non-null  int64
 17  customer_zip_code_prefix        111237 non-null  int64
 18  customer_city                   111237 non-null  int64
 19  customer_state                  111237 non-null  int64
 20  seller_zip_code_prefix          111237 non-null  float64
 21  seller_city                     111237 non-null  int64
 22  seller_state                    111237 non-null  int64
 23  product_category_name           111237 non-null  int64
 24  product_name_lenght             111237 non-null  float64
 25  product_description_lenght      111237 non-null  float64
 26  product_photos_qty              111237 non-null  float64
 27  product_weight_g                111237 non-null  float64
 28  product_length_cm               111237 non-null  float64
 29  product_height_cm               111237 non-null  float64
 30  product_width_cm                111237 non-null  float64
 31  costumer_lat                    111237 non-null  float64
 32  costumer_lng                    111237 non-null  float64
 33  seller_lat                      111237 non-null  float64
 34  seller_lng                      111237 non-null  float64
 35  days_to_delivery                111237 non-null  float64
 36  early_delivery                  111237 non-null  int64
 37  day_shipping                    111237 non-null  int64
 38  month_shipping                  111237 non-null  int64
 39  year_shipping                   111237 non-null  int64
 40  day_review_creation             111237 non-null  int64
 41  month_review_creation           111237 non-null  int64
 42  year_review_creation            111237 non-null  int64
 43  day_review_answer               111237 non-null  int64
 44  month_review_answer             111237 non-null  int64
 45  year_review_answer              111237 non-null  int64
 46  day_order_purchase_timestamp    111237 non-null  int64
 47  month_order_purchase_timestamp  111237 non-null  int64
 48  year_order_purchase_timestamp   111237 non-null  int64
 49  day_order_approved              111237 non-null  int64
 50  month_order_approved            111237 non-null  int64
 51  year_order_approved             111237 non-null  int64
 52  day_order_delivered_carrier     111237 non-null  int64
 53  month_order_delivered_carrier   111237 non-null  int64
 54  year_order_delivered_carrier    111237 non-null  int64
 55  day_order_delivered_customer    111237 non-null  int64
 56  month_order_delivered_customer  111237 non-null  int64
 57  year_order_delivered_customerr  111237 non-null  int64
 58  day_estimated_delivery          111237 non-null  int64
 59  month_estimated_delivery        111237 non-null  int64
 60  year_estimated_delivery         111237 non-null  int64
dtypes: float64(20), int64(41)
memory usage: 52.6 MB

In [26]:
df = df.astype(float)

In [27]:
df.replace([np.inf, -np.inf], np.nan, inplace=True)

##Days to delivery

In [28]:
colunas = ['Modelo','Fine-Tuning','MAE','MAPE'] 
MetricsDaysToDelivery = pd.DataFrame(columns = colunas)

In [41]:
##separando as variaveis dependente e independente em dois data frames
X = df.drop(['days_to_delivery'], 1)
Y = df['days_to_delivery']

In [30]:
from sklearn.model_selection import KFold

kf = KFold(5, shuffle=True, random_state=150)

###Modelos

####Linear Regression

In [30]:
model = LinearRegression()

my_pipeline = Pipeline(steps=[('m', model)])


#Define as metricas que quer utilizar.
scoring = {'mae' :'neg_mean_absolute_error',
           'mape': 'neg_mean_absolute_percentage_error'}

scores = cross_validate(my_pipeline, 
                        X, Y,
                        cv=kf,
                        scoring=scoring)

# Criar um dicionario com os resultados 
resultado = {'Modelo'     : 'LinearRegression',
             'Fine-Tuning': 'Nao',
             'MAE'        : -1*np.mean(scores['test_mae']),
             'MAPE'       : -1*np.mean(scores['test_mape'])}

MetricsDaysToDelivery = MetricsDaysToDelivery.append(resultado,ignore_index=True)

In [31]:
MetricsDaysToDelivery

             Modelo Fine-Tuning       MAE          MAPE
0  LinearRegression         Nao  0.120709  5.036595e+13

####Decision Tree

In [32]:
model = DecisionTreeRegressor(random_state=150)

my_pipeline = Pipeline(steps=[('m', model)])

#Define as metricas que quer utilizar.
scoring = {'mae' :'neg_mean_absolute_error',
           'mape': 'neg_mean_absolute_percentage_error'}

scores = cross_validate(my_pipeline, 
                        X, Y,
                        cv=kf,
                        scoring=scoring)

# Criar um dicionario com os resultados 
resultado = {'Modelo'     : 'Decision Tree',
             'Fine-Tuning': 'Nao',
             'MAE'        : -1*np.mean(scores['test_mae']),
             'MAPE'       : -1*np.mean(scores['test_mape'])}

MetricsDaysToDelivery = MetricsDaysToDelivery.append(resultado,ignore_index=True)

In [33]:
MetricsDaysToDelivery

             Modelo Fine-Tuning       MAE          MAPE
0  LinearRegression         Nao  0.120709  5.036595e+13
1     Decision Tree         Nao  1.265613  7.817135e+14

####Random forest trees

In [34]:
model = RandomForestRegressor(n_estimators=100, max_depth=15, random_state=0)

my_pipeline = Pipeline(steps=[('m', model)])

#Define as metricas que quer utilizar.
scoring = {'mae' :'neg_mean_absolute_error',
           'mape': 'neg_mean_absolute_percentage_error'}

scores = cross_validate(my_pipeline, 
                        X, Y,
                        cv=kf,
                        scoring=scoring)

# Criar um dicionario com os resultados 
resultado = {'Modelo'     : 'Random Forest',
             'Fine-Tuning': 'Nao',
             'MAE'        : -1*np.mean(scores['test_mae']),
             'MAPE'       : -1*np.mean(scores['test_mape'])}

MetricsDaysToDelivery = MetricsDaysToDelivery.append(resultado,ignore_index=True)

In [35]:
MetricsDaysToDelivery

             Modelo Fine-Tuning       MAE          MAPE
0  LinearRegression         Nao  0.120709  5.036595e+13
1     Decision Tree         Nao  1.265613  7.817135e+14
2     Random Forest         Nao  1.563092  1.403056e+15

####XGBoost

In [36]:
model = xgb.XGBRegressor(silent = True)

my_pipeline = Pipeline(steps=[('m', model)])

#Define as metricas que quer utilizar.
scoring = {'mae' :'neg_mean_absolute_error',
           'mape': 'neg_mean_absolute_percentage_error'}

scores = cross_validate(my_pipeline, 
                        X, Y,
                        cv=kf,
                        scoring=scoring)

# Criar um dicionario com os resultados 
resultado = {'Modelo'     : 'XGB',
             'Fine-Tuning': 'Nao',
             'MAE'        : -1*np.mean(scores['test_mae']),
             'MAPE'       : -1*np.mean(scores['test_mape'])}

MetricsDaysToDelivery = MetricsDaysToDelivery.append(resultado,ignore_index=True)

In [37]:
MetricsDaysToDelivery

             Modelo Fine-Tuning       MAE          MAPE
0  LinearRegression         Nao  0.120709  5.036595e+13
1     Decision Tree         Nao  1.265613  7.817135e+14
2     Random Forest         Nao  1.563092  1.403056e+15
3               XGB         Nao  1.125542  1.077378e+15

###Fine Turing

####Linear Regression

####Decision Tree

####Random Forest

####XGBoost

In [ ]:
xgbr = xgb.XGBRegressor(silent=True)

parameters = {'learning_rate': [.03, 0.05, .07], 
              'max_depth': [5, 6, 7], 
              'min_child_weight': [1, 2, 3,4], 
              'subsample': [1, 0.7], 
              'colsample_bytree': [1, 0.7]} 

xgb_grid = GridSearchCV(xgbr,
                        parameters,
                        cv = kf,
                        verbose=True)

xgb_grid.fit(X,Y)

print(xgb_grid.best_params_)

Fitting 5 folds for each of 144 candidates, totalling 720 fits

In [ ]:
model = xgb.XGBRegressor(silent = True, colsample_bytree= 0.7, learning_rate= 0.07, max_depth= 6, min_child_weight= 4, subsample= 0.7)

my_pipeline = Pipeline(steps=[('m', model)])

scoring = {'mae' :'neg_mean_absolute_error',
           'mape': 'neg_mean_absolute_percentage_error'}

scores = cross_validate(my_pipeline, 
                        X, Y,
                        cv=kf,
                        scoring=scoring)

# Criar um dicionario com os resultados 
resultado = {'Modelo'     : 'XGB',
             'Fine-Tuning': 'Nao',
             'MAE'        : -1*np.mean(scores['test_mae']),
             'MAPE'       : -1*np.mean(scores['test_mape'])}

MetricsDaysToDelivery = MetricsDaysToDelivery.append(resultado,ignore_index=True)

In [ ]:
MetricsDaysToDelivery

##Days delivery in advance

In [31]:
MetricsDaysDeliveryInAdvance = pd.DataFrame(columns = colunas)

In [32]:
##separando as variaveis dependente e independente em dois data frames
X = df.drop(['early_delivery'], 1)
Y = df['early_delivery']

In [33]:
from sklearn.model_selection import KFold

kf = KFold(5, shuffle=True, random_state=150)

###Modelos

####Linear Regression

In [34]:
model = LinearRegression()

my_pipeline = Pipeline(steps=[('m', model)])


#Define as metricas que quer utilizar.
scoring = {'mae' :'neg_mean_absolute_error',
           'mape': 'neg_mean_absolute_percentage_error'}

scores = cross_validate(my_pipeline, 
                        X, Y,
                        cv=kf,
                        scoring=scoring)

# Criar um dicionario com os resultados 
resultado = {'Modelo'     : 'LinearRegression',
             'Fine-Tuning': 'Nao',
             'MAE'        : -1*np.mean(scores['test_mae']),
             'MAPE'       : -1*np.mean(scores['test_mape'])}

MetricsDaysDeliveryInAdvance = MetricsDaysDeliveryInAdvance.append(resultado,ignore_index=True)

In [35]:
MetricsDaysDeliveryInAdvance

             Modelo Fine-Tuning       MAE          MAPE
0  LinearRegression         Nao  2.402021  7.970890e+14

####Decision Tree

In [36]:
model = DecisionTreeRegressor(random_state=150)

my_pipeline = Pipeline(steps=[('m', model)])

#Define as metricas que quer utilizar.
scoring = {'mae' :'neg_mean_absolute_error',
           'mape': 'neg_mean_absolute_percentage_error'}

scores = cross_validate(my_pipeline, 
                        X, Y,
                        cv=kf,
                        scoring=scoring)

# Criar um dicionario com os resultados 
resultado = {'Modelo'     : 'Decision Tree',
             'Fine-Tuning': 'Nao',
             'MAE'        : -1*np.mean(scores['test_mae']),
             'MAPE'       : -1*np.mean(scores['test_mape'])}

MetricsDaysDeliveryInAdvance = MetricsDaysDeliveryInAdvance.append(resultado,ignore_index=True)

In [37]:
MetricsDaysDeliveryInAdvance

             Modelo Fine-Tuning       MAE          MAPE
0  LinearRegression         Nao  2.402021  7.970890e+14
1     Decision Tree         Nao  1.301178  7.757219e+13

####Random Forest

In [38]:
model = RandomForestRegressor(n_estimators=100, max_depth=15, random_state=0)

my_pipeline = Pipeline(steps=[('m', model)])

#Define as metricas que quer utilizar.
scoring = {'mae' :'neg_mean_absolute_error',
           'mape': 'neg_mean_absolute_percentage_error'}

scores = cross_validate(my_pipeline, 
                        X, Y,
                        cv=kf,
                        scoring=scoring)

# Criar um dicionario com os resultados 
resultado = {'Modelo'     : 'Random Forest',
             'Fine-Tuning': 'Nao',
             'MAE'        : -1*np.mean(scores['test_mae']),
             'MAPE'       : -1*np.mean(scores['test_mape'])}

MetricsDaysDeliveryInAdvance = MetricsDaysDeliveryInAdvance.append(resultado,ignore_index=True)

In [ ]:
MetricsDaysDeliveryInAdvance

####XGBoost

In [39]:
model = xgb.XGBRegressor(silent = True)

my_pipeline = Pipeline(steps=[('m', model)])

#Define as metricas que quer utilizar.
scoring = {'mae' :'neg_mean_absolute_error',
           'mape': 'neg_mean_absolute_percentage_error'}

scores = cross_validate(my_pipeline, 
                        X, Y,
                        cv=kf,
                        scoring=scoring)

# Criar um dicionario com os resultados 
resultado = {'Modelo'     : 'XGB',
             'Fine-Tuning': 'Nao',
             'MAE'        : -1*np.mean(scores['test_mae']),
             'MAPE'       : -1*np.mean(scores['test_mape'])}

MetricsDaysDeliveryInAdvance = MetricsDaysDeliveryInAdvance.append(resultado,ignore_index=True)

In [40]:
MetricsDaysDeliveryInAdvance

             Modelo Fine-Tuning       MAE          MAPE
0  LinearRegression         Nao  2.402021  7.970890e+14
1     Decision Tree         Nao  1.301178  7.757219e+13
2     Random Forest         Nao  1.445416  1.035690e+14
3               XGB         Nao  3.101517  4.524648e+14

###Fine Tuning

             Modelo Fine-Tuning       MAE          MAPE
0  LinearRegression         Nao  2.402021  7.970890e+14

####Decision Tree

             Modelo Fine-Tuning       MAE          MAPE
0  LinearRegression         Nao  2.402021  7.970890e+14
1     Decision Tree         Nao  1.301178  7.757219e+13

####Random Forest

####XGBoost